/* .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    overflow: hidden;
    border:  solid 2px black;
    padding: 3rem;
}

h1 {
    font-size: 8vw;
    margin: 0;
    line-height: 0.8;
} */